/* mainpage */
/* 배경에 내리기 용*/
#meeting-list-page{
  position:relative;
  min-width: 100vw;
}
/*  로고 박히는 부분 */
.main-text {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.main-text img{
  width: 80px;
  margin-bottom: 10px;
}

/* mainpage의 화면을 80%만 이용 */
#container {
  width:80%;
}

#body-content{
  width:90%;
}


.search-form {
  width: 100%;
  display: flex;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

/* 방 생성 버튼 */
#room-create-btn{
  width: 30%;
  border-radius: 0.5rem;
  background: #9b27b0f1;
  color:white;
  outline: none;
  border: none;
  transition: transform 150ms ease;
  margin: 0;
  height: 2.5rem;
  margin-right: .2rem;
}

#room-create-btn:hover{
  transform: scale(1.03);
}

/* private 여부에 따라 조회하는 버튼 */
#private-btn{
  margin-bottom: 0.5%
}
/* 방생성 버튼, 검색 엔진,  privateBtn, 정렬방법 */
#tool-bar{
  margin-bottom: 3%;
  width: 100%;
}
/* 검색 엔진 css (component/mainpage/SearchEnzine) */
#search-enzine-section{
  width: 100%;
}

#search-enzine-bar{
  height: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0 1rem;
  border: solid 2px rgba(0, 0, 0, 0.616);
  outline: none;
  background: rgba(255, 255, 255, 0.5);
}


/* 검색 엔진 css.focus (component/mainpage/SearchEnzine) */
#search-enzine-bar:focus{
  background: rgb(105,94,239);
	background: linear-gradient(90deg, rgba(105,94,239,0.4) 0%, rgba(114,220,233,0.4) 87%);
}
/* privateBtn, 정렬방법 */
#sort-line{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 .5rem;
}
/* ㅇㅇ순|오름, 내림 (component/mainpage/MeetingCardSort) */
#sort-area {
  display: block;
  text-align: center;
  text-align: right;
}
/* 툴바 하단 하얀 줄(hr) */
#separator {
  border: none;
  width: 100%;
  margin-top: .5rem;
  margin-left: 1%;
  margin-right: 1%

}

#separator hr {
  border: none;
  border-top: 1px solid #695EEF;
  overflow: visible;
  text-align: center;
  margin-top: 10px;
}

#separator hr:after {
  content: "Welcome";
  position: relative;
  top: -20px;
  padding: 0 10px;
  color: #695EEF;
  font-size: 0.8em;
}

/* 이 아래로 private-btn 구현(by codepen) */
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
  font-family: FontAwesome;
  content: "\f023";
  line-height: 27px;
}

.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
  font-family: FontAwesome;
  content: "\f3c1";
  line-height: 27px;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2rem;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #695EEF;
}

/* absolute로 포지션 잡은 헤더들 반응성 처럼 쓰려고,, */
/* + 툴바 크기 조정 */
@media only screen and (min-width: 600px){

  #header {
    margin-bottom:5%;
    margin-left:2%;
    margin-right:2%;
    padding: 5%;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}

@media only screen and (max-width: 600px){
  .search-form {
    flex-direction: column;
  }

  #room-create-btn {
    width: 100%;
    margin-bottom: .5rem;
  }

  .main-text{
    position: relative;
    right: 10px;
  }
}

@media only screen and (min-width: 1024px){
}

@media only screen and (min-width: 1125px){

}

@media only screen and (min-width: 1440px){
}