.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
}

.error-area {
  margin-top: 20vh;
}

.StartPageLink {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
