.sideArea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 0.25rem solid #625eef;
  position: fixed;
  width: 24rem;
  right: 1rem;
  top: 1rem;
  bottom: 6rem;
  z-index: 100;
  overflow: hidden;
}

.exit {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0.7rem;
  top: 0.7rem;
}

.exit-label {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  left: 1.5rem;
}

/* 여기부터 gameArea 관련 */

.game-list-area {
  position: relative;
  top: 5rem;
  width: 94%;
  height: 70%;
  left: 3%;
  overflow: hidden;
}

.game-item {
  background-color: rgba(201, 197, 241, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.game-item:hover {
  background-color: rgba(201, 197, 241, 0.7);
}

.game-item:hover > .game-text {
  transform: scale(1.02);
}

.game-text {
  font-size: 0.9rem;
  text-align: start;
}
.game-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* 여기부터 ParticipantArea 관련 */

.participant-chat-list-area {
  position: absolute;
  width: 94%;
  top: 5rem;
  bottom: 2rem;
  left: 3%;
  overflow: auto;
}

.participant-item {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: rgb(201, 197, 241, 0.25);
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
/* 참가자들 item의 항목들 */
/* 순서대로 이름, 권한, 마이크, 화면 => 마이크와 화면은 조작 기능이 아니라 표시만 */
.participant-item div:nth-child(1) {
  margin-left: 1.5rem;
  width: auto;
  font-size: large;
  margin-right: 1px;
}

.participant-item div:nth-child(2) {
  margin-left: 0.7rem;
  color: rgb(0, 0, 0, 0.5);
}

.participant-item div:nth-child(3) {
  position: absolute;
  right: 1.7rem;
}

.participant-item div:nth-child(4) {
  position: absolute;
  right: 3.7rem;
}
