.sideArea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 0.25rem solid #625eef;
  position: fixed;
  width: 24rem;
  right: 1rem;
  top: 1rem;
  bottom: 6rem;
  z-index: 1;
  overflow: hidden;
}

.exit {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0.7rem;
  top: 0.7rem;
}

.exit-label {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  left: 1.5rem;
}

/* 여기부터 gameArea 관련 */

.game-list-area {
  position: relative;
  top: 5rem;
  width: 94%;
  height: 70%;
  left: 3%;
  overflow: hidden;
}

.game-item {
  background-color: rgba(201, 197, 241, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.game-item:hover {
  background-color: rgba(201, 197, 241, 0.7);
}

.game-item:hover > .game-text {
  transform: scale(1.02);
}

.game-text {
  font-size: 0.9rem;
  text-align: start;
}
.game-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* 여기부터 ParticipantArea 관련 */

.participant-list-area {
  position: absolute;
  width: 94%;
  top: 5rem;
  bottom: 2rem;
  left: 3%;
  overflow-x: auto;
}

.participant-list-area::-webkit-scrollbar {
  width: 13px;
  background-color: rgb(201, 197, 241, 0.25);
  border-radius: 10px;
}

.participant-list-area::-webkit-scrollbar-thumb {
  background-color: rgb(201, 197, 241, 0.7);
  border-radius: 10px;
}

.participant-item {
  position: relative;
  width: 97%;
  height: 4rem;
  background-color: rgb(201, 197, 241, 0.25);
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
/* 참가자들 item의 항목들 */
/* 순서대로 이름, 권한, 마이크, 화면 => 마이크와 화면은 조작 기능이 아니라 표시만 */
.participant-item div:nth-child(1) {
  margin-left: 1.5rem;
  width: auto;
  font-size: large;
  margin-right: 1px;
}

.participant-item div:nth-child(2) {
  margin-left: 0.7rem;
  color: rgb(0, 0, 0, 0.5);
}

.participant-item div:nth-child(n + 3) {
  position: absolute;
  right: 1.7rem;
}

/* 여기부터 ChattingArea 관련 */

/* 내부 영역 전체 */
.chat-list-area {
  position: absolute;
  width: 94%;
  top: 4rem;
  bottom: 0.8rem;
  left: 3%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* 메시지들이 표시되는 구간 */
.messages-area {
  top: 0;
  position: absolute;
  width: 93%;
  bottom: 6rem;
  overflow: auto;
}

.messages-area::-webkit-scrollbar {
  width: 13px;
  background-color: rgb(201, 197, 241, 0.25);
  border-radius: 10px;
}

.messages-area::-webkit-scrollbar-thumb {
  background-color: rgb(201, 197, 241, 0.7);
  border-radius: 10px;
}

.message {
  position: relative;
}

/* 메시지 보낼 사용자들을 정하는 구간 */
.recipient-area {
  position: absolute;
  bottom: 3.4rem;
  width: 100%;
  height: 2.3rem;
  display: flex;
  justify-content: center;
}

.recipient-area div:nth-child(1) {
  width: 25%;
  line-height: 2.3rem;
  font-size: 1rem;
}
.recipient-area div:nth-child(2) {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
}

.recipient-area div:nth-child(2) select {
  height: 2rem;
  width: 90%;
  border-radius: 10px;
  border-color: transparent;
  background-color: RGB(105, 94, 239, 0.25);
  display: flex;
  text-align: center;
  font-size: 0.8rem;
}

.recipient-area div:nth-child(3) {
  width: 20%;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.recipient-area div:nth-child(3) button {
  width: 100%;
  height: 2rem;
  background-color: RGB(105, 94, 239, 0.25);
  border: 0;
  border-radius: 30px;
  font-size: 0.8rem;
}

/* 메시지 적는 부분 */

.typping-area {
  bottom: 0;
  height: 3rem;
  width: 100%;
  position: absolute;
}

.typping-area div {
  height: 97%;
  width: 100%;
  border-radius: 17px;
  background-color: rgb(201, 197, 241, 0.25);
  display: flex;
}

/* 진짜 타이핑 구간 */
.typping-area div textarea {
  background-color: transparent;
  border-color: transparent;
  width: 80%;
  margin-left: 5%;
  height: 95%;
  resize: none;
  color: rgb(95, 82, 239);
  font-size: 1rem;
}

.typping-area div textarea::placeholder {
  position: absolute;
  top: 27%;
  color: rgb(160, 152, 241);
  opacity: 70%;
  font-size: 1rem;
  font-weight: bolder;
}

.typping-area div textarea:focus-visible {
  outline: transparent;
}

.typping-area div textarea::-webkit-scrollbar {
  width: 13px;
  background-color: rgb(201, 197, 241, 0.25);
  border-radius: 10px;
}

.typping-area div textarea::-webkit-scrollbar-thumb {
  background-color: rgb(201, 197, 241, 0.7);
  border-radius: 10px;
}

/* 타이핑 구역 안의 아이콘 구역 */
.typping-area div div {
  width: 20%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  cursor: pointer;
}
