.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: linear-gradient(
    rgba(105, 94, 239, 0.9),
    rgba(93, 82, 223, 0.9),
    rgba(105, 94, 239, 0.9)
  );
  display: flex;
  justify-content: center;
  color: rgba(11, 0, 135, 0.75);
}

.top-bar > div {
  width: 33%;
  display: flex;
  align-items: center;
}
.top-bar > div:nth-child(1) {
  position: relative;
  justify-content: start;
  left: 1rem;
}
.top-bar > div:nth-child(2) {
  justify-content: center;
}

.top-bar > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
}

.top-bar > div:nth-child(2) > div > span {
  text-align: center;
}

.top-bar > div:nth-child(3) {
  position: relative;
  justify-content: end;
  right: 1rem;
}

.notify-span {
  font-size: 1.3rem;
}

/* 매뉴얼 버튼 */
.manual-button {
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 10px;
  background: rgba(84, 22, 255, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
  /* 아이콘과 글씨 색 한 번에 바꾸기 */
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.manual-button > span {
  font-size: medium;
}

.manual-button:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.75);
  color: rgba(84, 22, 255, 0.79);
}

/* 끝내기 버튼 */
.end-button {
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 10px;
  background: rgba(247, 52, 52, 0.7);
  display: flex;
  justify-content: center;
  /* 아이콘과 글씨 색 한 번에 바꾸기 */
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.end-button:hover {
  transform: scale(1.05);
  color: rgba(247, 52, 52, 0.7);
  background: rgba(255, 255, 255, 0.75);
}

/* 아이콘 div */
.end-button > div:nth-child(1) {
  display: flex;
  align-items: center;
  height: 100%;
}

.end-button > div:nth-child(1) > i {
  position: relative;
  right: 0.2rem;
}

/* 문구 div */
.end-button > div:nth-child(2) {
  display: flex;
  align-items: center;
  height: 100%;
}

.end-button > div:nth-child(2) > span {
  position: relative;
  left: 0.2rem;
}
