.talk-now-box {
  background-color: rgb(94, 144, 219);
}

.non-talk-box {
  background-color: #c9c5f1;
}

.padding-area {
  padding: 5px;
  border-radius: 15px;
}
.radius-area {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.talk-now {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgb(94, 144, 219);
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 2px 12px;
  border-radius: 5px;
}

.non-talk {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 2px 12px;
  border-radius: 5px;
}

.next-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 2px 12px;
  z-index: 2;
  cursor: pointer;
}
